// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//fonts
$mainFont: "Outfit", sans-serif;
$headingFont: "Young Serif", serif;

$thin:100;
$extralight:200;
$light:300;
$regular:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$black:900;

// colors
// black
$black01: #312E2C;
// white
$Snow: #FFF7FB;
$Eggshell: #F3E5D7;
$WhiteCoffee: #E3DDD7;
// brown
$Wenge: #5F564D;
$Brandy:#854632;
// red
$Rasberry: #7A284E;

$breakpoint-desktop-min: 784px;
$breakpoint-mobile-max: 783px;
