// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//fonts
$mainFont: "Outfit", sans-serif;
$headingFont: "Young Serif", serif;

$thin:100;
$extralight:200;
$light:300;
$regular:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$black:900;

// colors
// black
$black01: #312E2C;
// white
$Snow: #FFF7FB;
$Eggshell: #F3E5D7;
$WhiteCoffee: #E3DDD7;
// brown
$Wenge: #5F564D;
$Brandy:#854632;
// red
$Rasberry: #7A284E;




///breakpoint
// $breakpoint-desktop-min: 1025px;
// $breakpoint-tablet-max: 1024px;
// $breakpoint-tablet-min: 482px;
// $breakpoint-mobile-max: 481px;

$breakpoint-desktop-min: 784px;
// $breakpoint-tablet-max: 1024px;
// $breakpoint-tablet-min: 641px;
$breakpoint-mobile-max: 783px;

// @media(min-width:$breakpoint-desktop-min){}
// @media(min-width:$breakpoint-tablet-min) and (max-width:$breakpoint-tablet-max){}
// @media(min-width:$breakpoint-tablet-min)
// @media(max-width:$breakpoint-tablet-max){}
// @media(max-width:$breakpoint-mobile-max){}


// Common breakpoints are

// 320px — 480px for mobile devices,
// 481px — 768px for iPads & tablets,
// 769px — 1024px for small screens like laptop,
// 1025px — 1200px for large screens like Desktops,
// and 1201px and above for extra large screens like TV.
